 body {
    font-family: Arial, Helvetica, sans-serif
     font-weight: normal;
     background-color: #010005 !important;
     color: white !important;
     background-image: none !important;
     padding-top: 2%;
 }

 .postMessage {
     background-color: #111 !important;
     color: #ccc !important;
     box-shadow: #cc00cc 3px 9px 10px;
 }

 .post {
     background-color: #010005 !important;
     color: #ccc !important;
     border-bottom: 1px solid #2d2629 !important;
     border: 3px solid #cc00cc;
 }

 .postInfo {
     background-color: #010005 !important;
     color: #ccc !important;

 }

 .op {
     border-bottom: 0 solid #717171 !important;
     background-color: #010005 !important;
 }

 a:link {
     color: #cc00ff !important;
 }

 a:visited {
     color: #ffa1f2 !important;
 }

 a:hover {
     color: #028003 !important;
 }

 a:active {
     color: #ccc !important;
 }

 hr {
     opacity: 0.2;
 }

 .replylink {
     color: black !important;
 }

 #tab-boardlink {
     background-color: #010005 !important;
 }

 .sub-menu {
     background-color: #010005 !important;
 }

 .ui-draggable {
     background-color: transparent !important;
     font-size: 11px;
     border-color: transparent !important;
 }

 .pagelist {
     background-color: #010005 !important;
     border-color: transparent !important;
 }

 .haze {
     background-color: #010005 !important;
 }

 /*.post::before {
    content:"◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧◧";
    margin-left:-10%;
    color:#800000;
    opacity:0.1;
}         */


 .ui-draggable-handle.ui-helper-clearfix.ui-corner-all.ui-widget-header.ui-dialog-titlebar {
     background-color: #111111 !important;
     color: #ccc !important;
 }

 .top-box.box-outer {
     background-color: #010005;
 }

 .fileInfo {
     border-bottom: 1px solid #0a0a0a;
 }

 .quote {
     color: #ea00ff !important;
     font-size: 15px;
 }

 s {
     color: white !important;
     background-color: #010005 !important;
 }

 .postingMode {
     background-image: linear-gradient(to right, green, #010005);
 }

 .title {
     display: none;
 }

 .boardHeader {
     background-color: #010005 !important;
 }

 .thread {
     background-color: #010005 !important;
 }

 ::-moz-selection {
     color: black;
     background: lime;
 }

 ::selection {
     color: black;
     background: lime;
 }

 .quote::selection {
     color: white;
     background: #008186;
 }

 .boardTitle:after {
     content: ".exe";
 }
 
 #postForm>tbody>tr:nth-of-type(1)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(2)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(3)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(4)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(5)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(6)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 #postForm>tbody>tr:nth-of-type(7)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }

 .BBLabel {
     background-color: #010005 !important;
     color: #ccc !important;
 }

 .rules {
     background-color: #010005 !important;
     color: grey !important;
 }

 #postForm>tbody>tr:nth-of-type(8)>td:nth-of-type(1) {
     background-color: #010005;
     color: #ccc;
 }
